.blue-shade-0 { fill:rgb(247,251,255); }
.blue-shade-1 { fill:rgb(222,235,247); }
.blue-shade-2 { fill:rgb(198,219,239); }
.blue-shade-3 { fill:rgb(158,202,225); }
.blue-shade-4 { fill:rgb(107,174,214); }
.blue-shade-5 { fill:rgb(66,146,198); }
.blue-shade-6 { fill:rgb(33,113,181); }
.blue-shade-7 { fill:rgb(8,81,156); }
.blue-shade-8 { fill:rgb(8,48,107); }

.state-boundary {
	fill: none;
	stroke: #777;
	stroke-dasharray: 2,2;
	stroke-linejoin: round;
}

svg#participation-heat-map-svg {
	display: block;
	margin: auto;
}